<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seihekijinrou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seihekijinrou">
        <activity android:name=".CenterofHekientry"></activity>
        <activity android:name=".EndofGame.End3"></activity>
        <activity android:name=".EndofGame.End2" />
        <activity android:name=".EndofGame.End1ofBad" />
        <activity android:name=".EndofGame.End1ofTrue" />
        <activity android:name=".ResultofVoting.trueResult2" />
        <activity android:name=".ResultofVoting.trueResult" />
        <activity android:name=".ResultofVoting.openseiheki" />
        <activity android:name=".ResultofVoting.falseResult2" />
        <activity android:name=".ResultofVoting.falseResult" />
        <activity android:name=".MeetingandVoting.Voting.Voting3" />
        <activity android:name=".MeetingandVoting.Voting.Voting4" />
        <activity android:name=".MeetingandVoting.Voting.Voting5" />
        <activity android:name=".MeetingandVoting.Voting.Voting6" />
        <activity android:name=".MeetingandVoting.Voting.Voting7" />
        <activity android:name=".MeetingandVoting.Voting.Voting8" />
        <activity android:name=".MeetingandVoting.Voting.Voting9" />
        <activity android:name=".MeetingandVoting.Voting.Voting10" />
        <activity android:name=".MeetingandVoting.Meetingtime" />
        <activity android:name=".MeetingandVoting.OnlyFirstMeetingtime" />
        <activity android:name=".Preparation.Result2" />
        <activity android:name=".Preparation.Result" />
        <activity android:name=".Preparation.Entry.Hekientry1" />
        <activity android:name=".Preparation.Entry.Hekientry2" />
        <activity android:name=".Preparation.Entry.Hekientry3" />
        <activity android:name=".Preparation.Entry.Hekientry4" />
        <activity android:name=".Preparation.Entry.Hekientry5" />
        <activity android:name=".Preparation.Entry.Hekientry6" />
        <activity android:name=".Preparation.Entry.Hekientry7" />
        <activity android:name=".Preparation.Entry.Hekientry8" />
        <activity android:name=".Preparation.Entry.Hekientry9" />
        <activity android:name=".Preparation.Entry.Hekientry" />
        <activity android:name=".Preparation.numberofpeople" />
        <activity android:name=".Start.checkrules" />
        <activity android:name=".Start.explanation" />
        <activity android:name=".Start.gamestart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>