<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seihekijinrou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seihekijinrou">
        <activity android:name=".Preparation.CenterofHekientry"></activity>
        <activity android:name=".MeetingandVotingandResult.CenterofMeetingandVoting" />
        <activity android:name=".EndofGame.End3" />
        <activity android:name=".EndofGame.End2" />
        <activity android:name=".EndofGame.End1ofBad" />
        <activity android:name=".EndofGame.End1ofTrue" />
        <activity android:name=".Preparation.Result2" />
        <activity android:name=".Preparation.Result1" />
        <activity android:name=".Preparation.numberofpeople" />
        <activity android:name=".Start.checkrules" />
        <activity android:name=".Start.explanation" />
        <activity android:name=".Start.gamestart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>